/* Layout */
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

div#app {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
}

div#app.dragged-ghost {
  cursor: grabbing;
}

main {
  display: flex;
  flex-direction: column;
  height: inherit;
}

/* Layout */
section.context {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.patch-2 div:nth-child(2) {
  flex: 1;
}

/* Export */
div.export-palette__preview {
  display: grid;
  flex: 1;
  padding: 0 var(--size-xsmall);
}

div.export-palette__info {
  padding: 0 var(--size-xsmall) var(--size-xxsmall);
}

div.export-palette__preview textarea {
  margin: 0;
  height: 100% !important;
}

/* Preview */
.preview__palette {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.preview__rows {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.preview__row {
  display: flex;
  flex: 1;
}

.preview__header {
  display: flex;
}

.preview__cell {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--size-xxxsmall);
  padding: var(--size-xxxsmall);
  min-height: 44px;
  overflow: hidden;
}

.preview__cell--no-height {
  min-height: unset;
}

.preview__cell--compact {
  min-height: var(--size-xxsmall);
}

/* Box resizer grip */
.box-resizer-grip {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  justify-content: end;
  align-items: end;
  cursor: nwse-resize;
  padding: var(--size-xxxsmall);
  width: var(--size-xxsmall);
  height: var(--size-xsmall);
}

/* Background */
:root[data-theme='figma-ui3'] #app {
  background-color: var(--figma-color-bg);
}
:root[data-theme='penpot'] #app {
  background-color: var(--color-background-primary);
}
