/* Layout */
html,
body {
  margin: var(--scale-null);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
  margin: var(--scale-null);
  padding: var(--scale-null);
}

li {
  display: block;
}

ul.list-item {
  padding-left: var(--scale-pos-xsmall);
  list-style-type: disc;
}

ul.list-item li {
  display: list-item;
}

div#app {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  background-color: var(--global-background-color-default);
}

div#app.dragged-ghost {
  cursor: grabbing;
}

div#ui {
  z-index: 1;
}
div#modal {
  z-index: 2;
}
div#toast {
  z-index: 3;
}

main {
  display: flex;
  flex-direction: column;
  height: inherit;
}

html.is-embed,
html.is-embed body,
html.is-embed div#app {
  margin: var(--scale-null);
  box-shadow: none;
  border: var(--scale-null);
}

main.ui--embed {
  margin: var(--scale-null);
  box-shadow: none;
  border: var(--scale-null);
  border-radius: var(--scale-null);
  width: 100%;
}

html.is-embed .box-resizer-grip,
.ui--embed .box-resizer-grip {
  display: none !important;
}

/* Layout */
section.context {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.patch-2 div:nth-child(2) {
  flex: 1;
}

#services {
  flex: 1;
}

/* Export */
div.export-palette__preview {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--scale-null) var(--scale-pos-xsmall);
  overflow: auto;
}

/* Preview */
.preview__palette {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  z-index: 1;
  overflow-x: auto;
  overflow-y: auto;
  overscroll-behavior: none;
}

.preview__rows {
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  width: fit-content;
  min-width: 100%;
  overflow: visible;
}

.preview__rows--free {
  width: 100%;
  overflow: hidden;
}

.preview__row {
  display: flex;
  flex: 1;
}

.preview__row--free {
  overflow: hidden;
}

.preview__header {
  display: inline-flex;
  position: sticky;
  top: var(--scale-null);
  z-index: 5;
  width: fit-content;
  min-width: 100%;
}

.preview__footer {
  display: inline-flex;
  padding: var(--scale-null) var(--scale-null) var(--scale-pos-xxsmall) var(--scale-null);
  width: fit-content;
  min-width: 100%;
}

.preview__header .preview__cell,
.preview__footer .preview__cell {
  background-color: var(--global-background-color-default);
}

.preview__cell {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--scale-pos-xxxsmall);
  box-sizing: border-box;
  padding: var(--scale-pos-xxxsmall);
  min-width: 96px;
  min-height: 64px;
}

.preview__cell--no-height {
  min-height: unset !important;
}

.preview__cell--compact {
  min-width: unset;
  min-height: var(--scale-pos-small);
}

.preview__cell--medium {
  min-height: var(--scale-pos-xxxlarge);
}

.preview__cell--large {
  min-height: 112px;
}

.preview__cell--frozen {
  position: sticky;
  left: var(--scale-null);
  z-index: 4;
  width: 96px;
}

.preview__cell--free {
  min-width: unset !important;
  overflow: hidden !important;
}

.preview__cell--header {
  border-right: var(--thumbnail-border-width) solid
    var(--thumbnail-border-color);
}

.preview__cell__stack {
  display: flex;
  justify-content: end;
  gap: var(--scale-pos-xxxsmall);
  width: 100%;
}

.preview__cell__actions {
  position: absolute;
  z-index: 3;
  inset: auto var(--scale-pos-xxxsmall) var(--scale-pos-xxxsmall) auto;
}

/* Properties */
@media (width <= 460px) {
  #properties span,
  #properties li {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

/* Contrast report */
.contrast {
  display: grid;
  grid-template-rows: repeat(4, minmax(var(--scale-null), auto));
  grid-template-columns: repeat(2, minmax(var(--scale-null), 1fr));
  gap: var(--scale-pos-xxsmall) var(--scale-pos-xxsmall);
  padding: var(--scale-pos-xxsmall) var(--scale-null);
}

.contrast__preview {
  justify-content: center;
  align-items: center;
  width: auto !important;
  min-height: var(--scale-pos-xxlarge);
  max-height: 400px;
  overflow-y: auto;
}

.contrast__score {
  outline: var(--global-border-width) solid var(--global-border-color) !important;
  outline-offset: var(--global-border-offset) !important;
  width: auto !important;
}

/* Box resizer grip */
.box-resizer-grip {
  display: flex;
  position: absolute;
  right: var(--scale-null);
  bottom: var(--scale-null);
  justify-content: end;
  align-items: end;
  cursor: nwse-resize;
  padding: var(--scale-pos-xxxsmall);
  width: var(--scale-pos-xxsmall);
  height: var(--scale-pos-xsmall);
}
