/* Layout */
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

div#app {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
}

div#app.dragged-ghost {
  cursor: grabbing;
}

div#ui {
  z-index: 1;
}
div#modal {
  z-index: 2;
}
div#toast {
  z-index: 3;
}

main {
  display: flex;
  flex-direction: column;
  height: inherit;
}

/* Layout */
section.context {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.patch-2 div:nth-child(2) {
  flex: 1;
}

/* Export */
div.export-palette__preview {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 var(--size-pos-xsmall);
  overflow: auto;
}

/* Preview */
.preview__palette {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.preview__rows {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.preview__row {
  display: flex;
  flex: 1;
}

.preview__header {
  display: flex;
}

.preview__cell {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--size-pos-xxxsmall);
  box-sizing: border-box;
  padding: var(--size-pos-xxxsmall);
  min-height: var(--size-pos-medium);
  overflow: hidden;
}

.preview__cell--no-height {
  min-height: unset;
}

.preview__cell--compact {
  min-height: var(--size-pos-small);
}

.preview__cell--medium {
  min-height: var(--size-pos-xxlarge);
}

.preview__cell--large {
  min-height: 104px;
}

/* Box resizer grip */
.box-resizer-grip {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  justify-content: end;
  align-items: end;
  cursor: nwse-resize;
  padding: var(--size-pos-xxxsmall);
  width: var(--size-pos-xxsmall);
  height: var(--size-pos-xsmall);
}

/* Background */
:root[data-theme='figma-ui3'] #app {
  background-color: var(--figma-color-bg);
}
:root[data-theme='penpot'] #app {
  background-color: var(--penpot-color-background-primary);
}
:root[data-theme='sketch'] #app {
  background-color: var(--sketch-color-background-primary);
}
